<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"> 
  <test name="Test">
  <listeners>
 	<listener class-name="com.globomantics.test.extentreports.ExtentListner"/>
 	 	</listeners>
    <classes>
       <class name="com.globomantics.test.testcases.HomePageTest"/>
       <class name="com.globomantics.test.testcases.NetherlandPageTest"/>
       <class name="com.globomantics.test.testcases.SwitzerlandPageTest"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


